/* google fonts import */
@import url('https://fonts.googleapis.com/css2?family=Lobster+Two&family=Raleway&display=swap');

:root {
    /* General colour palette used */
    --white: rgb(255, 255, 255);
    --light-emerald: rgb(237, 246, 249);
    --emerald: rgb(131, 197, 190);
    --dark-emerald: rgb(0, 109, 119);
    --light-brown: rgb(255, 221, 210);
    --brown: rgb(226, 149, 120);
    --dark-brown: rgb(143, 60, 30);
    
    /* Background gradient */
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-color: var(--light-emerald); /* For browsers that do not support gradients */
    background-image: linear-gradient(to bottom right, var(--light-brown), var(--emerald));
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Raleway", sans-serif;
}

.hidden {
    display: none;
}

/* main headings */
h1 {
    font-family: "Lobster Two", sans-serif;
    font-size: 90px;
    color: var(--dark-emerald);
    text-shadow: 5px 5px 5px var(--emerald);
    margin-bottom: 30px;
}

h2 {
    font-family: "Lobster Two", sans-serif;
    font-size: 70px;
    color: var(--dark-emerald);
}

/* main quiz container */
.quiz-container {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    max-width: 80rem;
    list-style: none;
    padding: 20px;
}

/* universal position classes */
.flex-column {
    display: flex;
    flex-direction: column;
}

.flex-center {
    justify-content: center;
    align-items: center;
}

/* button styling */
.btn {
    cursor: pointer;
    font-family: "Lobster Two", sans-serif;
    font-size: 46px;
    width: 20rem;
    padding: 5px;
    margin-bottom: 6px;
    text-align: center;
    text-decoration: none;
    border-radius: 10px;
    color: var(--white);
    background-color: var(--light-emerald); /* For browsers that do not support gradients */
    background-image: linear-gradient(to bottom right, var(--emerald), var(--dark-emerald));
    border: none;
    box-shadow: 5px 5px 5px var(--emerald);
}

.btn:hover {
    background-image: none;
    background-color: var(--light-brown);
    color: var(--dark-emerald);
    transition: transform 150ms;
    transform: scale(1.05);
}

/* stops user from clicking a button without inputting required information */
.btn[disabled]:hover {
    cursor: not-allowed;
    transform: none;
}

/* font awesome icons */
.quiz-container i {
    font-size: 30px;
    margin-left: 5px;
}

/* rules page */

#rules-container {
    border: 5px solid var(--dark-emerald);
    background-color: var(--light-brown);
    border-radius: 10px;
    box-shadow: 5px 5px 5px var(--emerald);
    padding: 10px 30px;
}

#rules-container h2 {
    margin-bottom: 20px;
    text-align: center;
}

#rules-list {
    text-align: left;
    font-size: 20px;
}

li {
    padding: 10px 0;
}

#rules-container a {
    margin-left: 28%;
    display: block;
}

/* game page */

/* answer options */
.options-container {
    display: flex;
    width: 100%;
    margin-bottom: 10px;
    min-width: 80rem;
    text-align: center;
    font-size: 40px;
    border-radius: 10px;
    color: var(--white);
    background-color: var(--light-emerald); /* For browsers that do not support gradients */
    background-image: linear-gradient(to bottom right, var(--emerald), var(--dark-emerald));
    border: none;
    box-shadow: 5px 5px 5px var(--emerald);
}

.options-container:hover {
    background-image: none;
    background-color: var(--light-brown);
    color: var(--dark-emerald);
    transition: transform 150ms;
    transform: scale(1.05);
    cursor: pointer;
}

.option-prefix {
    padding: 10px 10px;
    color: var(--dark-brown);
}

.option-text {
    padding: 10px;
    width: 100%;
}

/* correct and incorrect effect */
.correct {
    background-color: green;
}

.incorrect {
    background-color: red;
}

/* quiz hud */
#quiz-hud {
    display: flex;
    justify-content: space-between;
}

.display-prefix {
    font-size: 20px;
    text-align: center;
}

.display-main-text {
    text-align: center;
}

#progressBar {
    width: 20rem;
    height: 3rem;
    border: 0.2rem solid var(--dark-brown);
    border-radius: 50px;
    overflow: hidden;
}

#progressBarFull {
    height: 100%;
    background: var(--dark-emerald);
    width: 0%;
}